	html{touch-action: none;font-size: 0.75rem;}
	*{margin: 0;padding: 0;list-style: none;}
	#header{background:#1296DB; height:104px;}
   	#logo{width:50px; height:44px; text-align:center; flex-shrink:0;}
		#logo img{width:40px;}
		#indexSearch{width:100%; height:30px; background:#FFFFFF; margin:25px 15px; border-radius:30px;}
		#indexSearch input[type="search"]{display:block; width:96%; height:30px; line-height:30px; padding:0px 2%; background:none; -webkit-appearance:none; appearance:none; font-size:15px; text-indent:15px; text-align:left;}
		#indexCate{height:44px;}
		#indexCate a{color:#FFFFFF;}
		.mui-active{border-color:#FFFFFF !important;}
		.tabber{position: fixed;left: 0;bottom: 0;}
	.scrollItem{
		width: 30%;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 90px;	
	}
	.gamescrollImg{
		width: 90%;
		height: 30%;
	}