	html{touch-action: none;font-size: 0.75rem;}
	*{margin: 0;padding: 0;list-style: none;}
	#header{background:#1296DB; height:104px;}
   	#logo{width:50px; height:44px; text-align:center; flex-shrink:0;}
		#logo img{width:40px;}
		#indexSearch{width:100%; height:30px; background:#FFFFFF; margin:25px 15px; border-radius:30px;}
		#indexSearch input[type="search"]{display:block; width:96%; height:30px; line-height:30px; padding:0px 2%; background:none; -webkit-appearance:none; appearance:none; font-size:15px; text-indent:15px; text-align:left;}
		#indexCate{height:44px;}
		#indexCate a{color:#FFFFFF;}
		.mui-active{border-color:#FFFFFF !important;}
		.tabber{position: fixed;left: 0;bottom: 0;}
		
	/* 首页横向滑动 */	
	.gameBox{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		padding-left: 15px;
		box-sizing: border-box;
		background: #FFF;
		margin: 10px 0;
		height: 200px;
	}
	#wrapperBox{
		height: 160px;	
	}
	#wb-child{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
	}
	.pBox{
		font-weight: 700;
		color: #000000;
		margin: 20px 0 0 0;
	}
	.scrollItem{
		width: 30%;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 90px;	
	}
	.gamescrollImg{
		width: 90%;
		height: 50%;
	}
	.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
		color: inherit; 
		border-bottom:none;
		background: none;
	}
	/* 首页横向滑动 end*/	
	/* 首页纵向滑动 */
	.appBox{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		padding-left: 15px;
		box-sizing: border-box;
		background: #FFF;
		margin: 10px 0;	
	
	}
	.appItem{
		width: 97%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		border-bottom: 1px solid #CCC;
		margin-top: 10px;
		padding: 10px 0;
	}
	.appItemMsg{
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
	}
	/* 首页纵向滑动 end*