	html{touch-action: none;font-size: 12px;}
	[v-cloak] {
		display: none;
	}
	*{margin: 0;padding: 0;list-style: none;}
	#header{background:#1296DB; height:104px;}
   	#logo{width:50px; height:44px; text-align:center; flex-shrink:0;}
		#logo img{width:40px;}
		#indexSearch{width:100%; height:30px; background:#FFFFFF; margin:30px 15px; border-radius:30px;}
		#indexSearch input[type="search"]{display:block; width:96%; height:30px; line-height:30px; padding:0px 2%; background:none; -webkit-appearance:none; appearance:none; font-size:15px; text-indent:15px; text-align:left;}
		#indexCate{height:44px;}
		#indexCate a{color:#FFFFFF;}
		.mui-active{border-color:#FFFFFF !important;}
		.tabber{position: fixed;left: 0;bottom: 0;}
		
	/* 首页横向滑动 */	
	.gameBox{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		padding-left: 15px;
		box-sizing: border-box;
		background: #FFF;
		margin: 10px 0;
		height: 200px;
	}
	#wrapperBox{
		height: 160px;	
	}
	#wb-child{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
	}
	.pBox{
		font-weight: 700;
		color: #000000;
		margin: 20px 0 0 0;
	}
	.scrollItem{
		width: 30%;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 90px;	
	}
	.gamescrollImg{
		width: 90%;
		height: 50%;
	}
	.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
		color: inherit; 
		border-bottom:none;
		background: none;
	}
	/* 首页横向滑动 end*/	
	/* 首页纵向滑动 */
	.appBox{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		padding-left: 15px;
		box-sizing: border-box;
		background: #FFF;
		margin: 10px 0;	
	
	}
	.appItem{
		width: 97%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		border-bottom: 1px solid #CCC;
		margin-top: 10px;
		padding: 10px 0;
	}
	.appItemMsg{
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
	}
	/* 首页纵向滑动 end*/
	
	/* 游戏页 和 应用页*/
	#leftBox{
		width: 20%;
		top:108
	}
	#ulBox{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		background: #FFFFFF;
		border-right: #E4E4E4 1px solid;
	}
	#ulBox li{
		height: 65px;
		line-height: 65px;
		text-align: center;
		border-bottom: #E4E4E4 1px solid;
	}
	#rightBox{
		margin-left: 15%;
		width: 73%;	
	}
	/* 游戏页 和 应用页 end*/
	/* 排行页面 */
	
	.rankUlBox{
		width: 100%;
		height: 3.916666rem;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		border-bottom: 1px solid #CCCCCC;
	}
	.rank-ulbox-li{
		width: 50%;
		box-sizing: border-box;
		border-right: 1px solid #CCCCCC;
		text-align: center;
		height: 2.916666rem;
		line-height: 2.916666rem;
	}
	#rankBox{
		width:100%;	
	}
	.list-topthree{
		width: 100%;
		height: 15.833333rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-end;
	}
	.toplist{
		padding-top: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.top-two{
		width: 7.5rem;
		height: 9.583333rem;
		background: #09A911;
		position: relative;
	}
	.top-one{
		width: 7.5rem;
		height: 11.25rem;
		background: #1296DB;
		position: relative;
	}
	.top-three{
		width: 7.5rem;
		height: 7.5rem;
		background: #FFCC33;
		position: relative;
	}
	.topImg{
		width: 4.583333rem;
		height: 4.583333rem;
		position: absolute;
		top: -40px;
		left: 50%;
		margin-left: -1.875rem;
	}
	.list-topthree p{
		color: #FFFFFF;
	}
	.rankNum{
		width: 4.583333rem;
		height: 4.583333rem;
		text-align: center;
		line-height: 4.583333rem;
	}
	.list-rank{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.rankappItem{
		width: 95%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		border-top: 1px solid #CCC;
		margin-top: 10px;
		padding: 10px 0;
	}

	/* 排行页面 end*/
	
	/* 我的 */
	.mineHeader{
		width:100%; 
		height:100%; 
		background: #1296DB;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding-top: 1.25rem;
		}
	.mineImg{
		width: 5.166666rem;
		height: 5.166666rem;
		border-radius: 50%;
	}
	.username{
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	#minename{
		background: #1296DB;
		color: #FFFFFF;	
		border: none;
		outline: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.mineList{
		width: 100%;
		height: 100%;
		background: #FFFFFF;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.listItem{
		width: 95%;
		height: 4.583333rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 1.666666rem;
		align-items: center;
		border: 1px solid #CCCCCC;
		border-radius: 0.833333rem;
		margin-top: 1.25rem;
	}