<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/main.css"/>
	</head>

	<body>
		
		<div class="mui-content" id="mainApp">
			<div class="mui-scroll-wrapper" style="top:108">
			<div class="mui-scroll">
		

				<!-- 游戏精品+游戏推荐 -->
				<template v-for="(item,index) in gameMsg">
				<div class="gameBox">
					<p class="pBox">{{item.title}}</p>
					<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="wrapperBox">
						<div class="mui-scroll" id="wb-child">
							
							<template v-for="(gameitem,index) in item.gamelist">
							
								<div class="scrollItem mui-control-item gamedownbox" style="display: flex;padding-left: 0;height: 77%;">
									<img class="gamescrollImg" :src="gameitem.img" >
									<span>{{gameitem.name}}</span>
									<button type="button" class="mui-btn mui-btn-primary mui-btn-outlined" >{{ondownstatus}}</button>
								</div>
							
							</template>
						</div>
					</div>		
				</div>
				</template>
				<!-- 游戏精品+游戏推荐 end-->
				
				<!-- 应用精品+应用推荐 -->
				<template v-for="(item,index) in appMsg">
				<div class="appBox">
					<p class="pBox">{{item.title}}</p>
					<template v-for="(appitem,index) in item.applist">
						<div class="appItem">
							<img :src="appitem.img" >
							<div class="appItemMsg">
								<span>{{appitem.name}}</span>
								<p style="margin: 0;">{{appitem.classify}}|{{appitem.size}}</p>
							</div>
							<button type="button" class="mui-btn mui-btn-primary mui-btn-outlined">下载</button>		
						</div>
					</template>
				</div>
				</template>
				<!-- 应用精品+应用推荐 end-->
			
			
			
			
				</div>
			</div>
			
		</div>
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 监听下载任务状态 
			function onStateChanged(download, status) {
				console.log(download)
				console.log(download.downloadedSize)
				if(download.state == 4 && status == 200){
					// 下载完成 
					alert("Download success: " + download.getFileName()); 
					this.innerHTML=100*download.downloadedSize/download.totalSize+"%"
				}  
			}
			
			mui.init({});
			// 扩展API加载完毕，现在可以正常调用扩展API 
			mui.plusReady(function(){
				// 创建下载任务
				mui('.gamedownbox').on("tap","button",function (e) {
				  	// 创建下载任务
				  	var dtask = plus.downloader.createDownload( "http://editerupload.eepw.com.cn/201809/61001537857032.jpg", {method:"GET"}, function ( d, status ) {});
				  	dtask.addEventListener("statechanged", onStateChanged, false);
				  	dtask.start(); 				
				});
			})
			
			
			var mainApp=new Vue({
				el:"#mainApp",
				data(){
					return {
						ondownstatus:"下载",
						gameMsg:[
							{
								title:"游戏精品",
								gamelist:[
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"}
								]
							},
							{
								title:"游戏推荐",
								gamelist:[
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"},
									{img:"../imgs/test.png",name:"爱玩斗地主"}
								]
							}
						],
						appMsg:[
							{
								title:"应用精品",
								applist:[
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									
								]
							},
							{
								title:"应用推荐",
								applist:[
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6MM"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6MM"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
									{img:"../imgs/test.png",name:"Airbnb爱彼迎",classify:"旅游出行",size:"66.6M"},
								]
							}
						],
						
					}
				}
			})
			mui('.mui-scroll-wrapper').scroll({
				indicators: false, //是否显示滚动条
				deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
			});
			
			//底部导航点击
			mui(".mui-bar-tab").on("tap","a",function(e){		
				let tagPage=this.getAttribute("href");
				if(tagPage=="pages/mine.html"){
					headerApp.headerState=false			
				}else{
					headerApp.headerState=true;
					plus.webview.hide(subpages[4]);
				}
				plus.webview.show(tagPage,"fade-in",100)
			})
			
		</script>
	</body>

</html>
