<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/main.css"/>
	</head>

	<body>
		
		<!--顶部logo和搜索框-->
		<div id="header" style="height: 12.5rem;">
			<div style="display: flex;" class="mineHeader">			
					<img src="../imgs/test.png" class="mineImg">
					<div class="username">
						<input type="text" id="minename" v-model="username" />
						<img src="../imgs/edit.png" class="editImg">
					</div>				
			</div>
		</div>
		<!--顶部logo和搜索框 end-->
		
		<div class="mui-content">
			
			<div class="mineList" id="mineApp">
				
				<template v-for="(item ,index ) in list">
					<div class="listItem">
						<img :src="item.img" >
						<span style="margin-left: 1.666666rem;">{{item.msg}}</span>
					</div>
				</template>
				
				<div class="listItem">
					<img src="../imgs/edit.png" >
					<span style="margin-left: 1.666666rem;">免责声明</span>
				</div>
				<div class="listItem">
					<img src="../imgs/edit.png" >
					<span style="margin-left: 1.666666rem;">版本更新</span>
				</div>
			</div>	
		</div>
		
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var headerApp=new Vue({
				el:"#header",
				data() {
					return {
						username: "admin"
					}
				},
			})
			var mineApp=new Vue({
				el:"#mineApp",
				data() {
					return {
						list: [
							{
								img:"../imgs/edit.png",
								msg:"下载管理"
							},
							{
								img:"../imgs/edit.png",
								msg:"下载历史"
							},
							{
								img:"../imgs/edit.png",
								msg:"我的评论"
							},
						]
					}
				},
			})
			mui.init()
			mui.plusReady(function(){})
		</script>
	</body>

</html>
